---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Pubblicato il:
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Categoria
          </span>
          {{ page.categories }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Articolo precedente
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Articolo successivo
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
</article>
